<a href='/requesttoken' role="button" class="btn btn-primary btn-lg outline">Sync Account with Evernote</a>
<% if session[:notebooks] %>
<hr />
<h3>The current user is <%= session[:username] %> and there are <%= session[:total_notes] %> notes in their account</h3>
<br />
<h3>Here are the notebooks in this account:</h3>
  <ul>
  <% session[:notebooks].each do |notebook| %>
    <li><%= notebook %></li>
  <% end %>
</ul>
<% end %>
