<div class="container">
  <div class="row">
    <div class="col-md-3 col-lg-3"></div>
    <form class="col-md-6 col-lg-6 register", method="post", action="/register">
      <div class="form-group">
        <input type="text" name="email" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
      </div>

      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
      </div>

      <div class="form-group">
        <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" aria-describedby="basic-addon2">
      </div>

      <button type="register" id="register-btn" class="btn btn-default">Register</button>
      <% if @email_taken %>
        <p class=error> <%= "Email " + @email_taken + " is already in use"%>
      <%@email_taken end %>
    </form>
    <div class="col-md-3 col-lg-3"></div>
  </div>
</div>

<script>
  $('#register-btn').on('click', function(e){
    if ($('input[name=password]').val() != $('input[name=confirm_password]').val()){
      e.preventDefault();
      $('form').append("<p class=error, style=color:red;> Passwords do not match </p>")
    }
  });
</script>
