<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="venn/venn.min.js" type="text/javascript"></script>

<h2>Tags:</h2>
<ul class="nav nav-pills">
<% @tags.each do |tag| %>
  <li><a href="#" id=<%=tag.id%>><%= tag.name %> (<%= tag.count%>)</a></li>
<% end %>
</ul>
<div id="venn"></div>

<script>
  $(document).ready(function(){
    $.get("/api", function(data){
      var chart = venn.VennDiagram();
      d3.select("#venn").datum(data).call(chart);
    });
  });
</script>
