body {
  padding-top: 120px;
}


/*LAYOUT NAVBAR*/
ul.navbar-right {
  margin-right: 25px;
}

p.navbar-right {
  margin-right: 0;
}


/*REGISTER PAGE*/
.register {
  border: 2px;
  border-style: solid;
  padding: 30px 15px 30px 15px;
}

p.error {
  color: red;
}
